<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Mogul One - Research</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="assets/css/paper-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/themify-icons.css" rel="stylesheet">


</head>
<body>

<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/dashboard" class="simple-text">
                    Mogul One
                </a>
            </div>

            <% include ./header.ejs %>

    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Research</a>
                </div>
                <% include ./uppernav.ejs %>

            </div>
        </nav>


        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Step 1: <br>Payment Calculator</h4>
                </div>
                <div class="content">
                    <form id="paymentcalc">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input name="address" id="address" type="text" class="form-control border-input"  value="123 Main St">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Home Price</label>
                                    <input name="price" id="price5" type="number" class="form-control border-input" placeholder="Company" value="200000">
                                </div>
                            </div>
                      
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Amount Financed</label>
                                    <input name="principal" id="principal" type="number" class="form-control border-input"  value="150000">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Years</label>
                                    <input type="number" class="form-control border-input" placeholder="" id="years" value="30">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Interest(%)</label>
                                    <input type="number" class="form-control border-input" placeholder="" id="interest" value="5.25">
                                </div>
                            </div>

                        </div>





                        
                        <div class="text-center">
                            <button id="btn" class="btn btn-info btn-fill btn-wd">What's My Payment?</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                    <br>
                        <label class="labels1">Monthly Finance Payment: $</label>
                        <input class="labels1" id="result"><br>
                        <label class="labels1">Cash Required for Deal: $</label>
                        <input name="downpayment" class="labels1" id="cashneeded">
                </div>
            </div>
        </div>



        <div class="col-lg- col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Step 2:<br>Quick Investment Analysis (Finance Included)</h4>
                </div>
                <form type="POST">
                <div class="content">
                        <div id="cashflowcalc">
                                <div class="row">
                                        <div class="col-md-12">
                                      
                                        </div>
                                    </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Rents</label>
                                        <input name="rents" id="rents" type="number" class="form-control border-input"  placeholder="$2400" value="2400">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tax</label>
                                        <input name="proptax" id="proptax" type="number" class="form-control border-input" placeholder="$200" value="380">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Management</label>
                                            <input name="mgmt" id="mgmt" type="number" class="form-control border-input" placeholder="$200" value="150">
                                        </div>
                                    </div>
                                
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Water/Sewer</label>
                                        <input id="water" type="number" class="form-control border-input" placeholder="$100" value="100">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Utilities</label>
                                        <input id="utilities" type="number" class="form-control border-input" placeholder="$150" value="250">
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Maintenance</label>
                                        <input name="maintenance" id="maintenance" type="number" class="form-control border-input" placeholder="$200" value="250">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vacancy</label>
                                        <input name="vacancy" id="vacancy" type="number" class="form-control border-input" placeholder="$100" value="200">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Insurance</label>
                                        <input name="insurance" id="ins" type="number" class="form-control border-input" value="150">
                                    </div>
                                </div>
                            </div>





                        
                        <div class="text-center">
                            <button id="btn2" class="btn btn-info btn-fill btn-wd">Evaluate</button>
                            <button id="btn-add" class="btn btn-info btn-fill btn-wd">Add to Database</button>

                        </div>
                        <br><label class="labels1">Monthly Cash Flow: $</label>
                        <input name="cashflow" class="labels1" id="result2">
                        <br><label class="labels1">Cash-on-Cash Return(%):</label>
                        <input name="cashoncash" class="labels1" id="result4">
                        <br><label class="labels1" id="result4">Annual Cash-on-Cash Return: $</label>
                        <input name="annualcashoncash" class="labels1" id="result3">
                        <div class="clearfix"></div>
                        <br><label class="labels1">Cap Rate(%): </label>
                        <input name="caprate" class="labels1" id="result5">
                    </div>
                </div>
            </div>
        </form>
        </div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Prospective Properties</h4>
                                <p class="category">Assumes 5% Vacancy</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                    	<th>Address</th>
                                    	<th>Price</th>
                                    	<th>Down <br> Payment</th>
                                        <th>Rents</th>
                                        <th>Property<br>Tax</th>
                                        <th>Utilities</th>
                                        <th>Monthly<br>Cash Flow</th>
                                        <th>Annual <br>Cash Flows</th>
                                        <th>Cash-on-Cash Return</th>
                                        <th>Cap Rate</th>

                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>155 Benmont Ave</td>
                                        	<td>$160,000</td>
                                        	<td>$40,000</td>
                                            <td>$3200</td>
                                            <td>$400</td>
                                            <td>$350</td>
                                            <td>$968</td>
                                            <td>$11,432</td>
                                            <td>21%</td>
                                            <td>14%</td>
                                        </tr>
                                        <tr>
                                        	<td>155 Benmont Ave</td>
                                        	<td>$160,000</td>
                                        	<td>$40,000</td>
                                            <td>$3200</td>
                                            <td>$400</td>
                                            <td>$350</td>
                                            <td>$968</td>
                                            <td>$11,432</td>
                                            <td>21%</td>
                                            <td>14%</td>
                                        </tr>
                                        <tr>
                                        	<td>155 Benmont Ave</td>
                                        	<td>$160,000</td>
                                        	<td>$40,000</td>
                                            <td>$3200</td>
                                            <td>$400</td>
                                            <td>$350</td>
                                            <td>$968</td>
                                            <td>$11,432</td>
                                            <td>21%</td>
                                            <td>14%</td>
                                        </tr>
                                        <tr>
                                        	<td>155 Benmont Ave</td>
                                        	<td>$160,000</td>
                                        	<td>$40,000</td>
                                            <td>$3200</td>
                                            <td>$400</td>
                                            <td>$350</td>
                                            <td>$968</td>
                                            <td>$11,432</td>
                                            <td>21%</td>
                                            <td>14%</td>
                                        </tr>
                                        <tr>
                                        	<td>155 Benmont Ave</td>
                                        	<td>$160,000</td>
                                        	<td>$40,000</td>
                                            <td>$3200</td>
                                            <td>$400</td>
                                            <td>$350</td>
                                            <td>$968</td>
                                            <td>$11,432</td>
                                            <td>21%</td>
                                            <td>14%</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

            




    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="cashFlowCalculator.js"></script>
</body>

    <!--   Core JS Files   -->
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="assets/js/bootstrap-checkbox-radio.js"></script>

	<!--  Charts Plugin -->
	<script src="assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="assets/js/paper-dashboard.js"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="assets/js/demo.js"></script>


</html>
