<!-- <a href="/"><button id="login">Login</button></a> -->

<!-- <a href="/homepage"><button id="home">Home</button></a>
<a href="/paymentCalc"><button id="paymentCalc">Loan Calculator</button></a>

<a href="/prospective"><button id="prospectives">Prospectives</button></a>
<a href="/"><button id="logout">Logout</button></a> -->

            <ul class="nav">
                <li class="active">
                    <a href="/dashboard">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/user">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>

                <li>
                    <a href="/research">
                        <i class="ti-home"></i>
                        <p>Research</p>
                    </a>
                </li>

                <li>
                    <a href="/performance">
                        <i class="ti-bar-chart"></i>
                        <p>Property Performance</p>
                    </a>
                </li>

                <li>
                    <a href="/tenants">
                        <i class="ti-hand-open"></i>
                        <p>Tenants</p>
                    </a>
                </li>

            <br>
            <br>
                <!-- <li>
                    <a href="/typography">
                        <i class="ti-text"></i>
                        <p>Typography</p>
                    </a>
                </li>
                <li>
                    <a href="/icons">
                        <i class="ti-pencil-alt2"></i>
                        <p>Icons</p>
                    </a>
                </li>
                <li>
                    <a href="/maps">
                        <i class="ti-map"></i>
                        <p>Maps</p>
                    </a>
                </li>
                <li>
                    <a href="/notifications">
                        <i class="ti-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li> -->
				<li class="active-pro">
                        <i class="ti-export"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>


